<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Table Example</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Data Table</h2>
<table id="max-table">
    <thead>
        <tr>
            <th>Suhu Max</th>
            <th>Suhu Min</th>
            <th>Suhu Rata-Rata</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be inserted here -->
    </tbody>
</table>
<br>
<table id="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Humidity</th>
            <th>Suhu</th>
            <th>Kecerahan</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be inserted here -->
    </tbody>
</table>
<br>
<table id="date-table">
    <thead>
        <tr>
            <th>Month-Year</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be inserted here -->
    </tbody>
</table>
<br>

<script src="{{ url_for('static', filename='js/script.js')}}">
    // Function to fetch data and populate the table
</script>
<script>
    window.onload = fetchData;
</script>

</body>
</html>